<configuration debug="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>[%25thread] %-25.25logger{5} - %msg%n</Pattern>
        </encoder>
    </appender>

    <logger name="io.netty" level="ERROR" />
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
